*{
margin: 0;
padding: 0;
}
.home,.login{
  background-image: url(../../images/img7.avif);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  
}

.users{
  background-image: url(../../images/img2.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.add-user{
  background-image: url(../../images/img3.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.emp-dashboard{
  background-image: url(../../images/img9.avif);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

