.home{
  background-image: url(../../images/img7.avif);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.emps{
  background-image: url(../../images/img2.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.add-emp{
  background-image: url(../../images/img3.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.emp{
  background-image: url(../../images/img9.avif);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
