.apexcharts-legend{
   
    background-color: white;
   height:max-content;
}

@media (max-width:451px){
    .apexcharts-legend{
        display:none;
    }
}
foreignObject{
    width: 340px;
}
